{% extends 'home/home.html' %}
{% load static %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/friends.css' %}" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div id="content" class="content p-0">
            <div class="profile-header">
                <div class="profile-header-cover"></div>
                <div class="profile-header-content">
                    <div class="profile-header-img mb-4">
                        <img src="{{ user.customer.profile_pic.url }}" class="mb-4" alt=""/>
                    </div>

                    <div class="profile-header-info">
                        <h4 class="m-t-sm">{{ user.username }}</h4>
                        <p class="m-b-sm"></p>

                    </div>
                </div>

            </div>

            <div class="profile-container">
                <div class="row row-space-20">
                    <div class="col-md-8">
                        <div class="tab-content p-0">

                            <div class="tab-pane fade active show" id="profile-friends">
                                <div class="m-b-10"><b>Friend List {{ friends|length }}</b></div>

                                <ul class="friend-list clearfix" style="padding-bottom: 3em; ">
                                    {% for friend in friends %}
                                        <li style="margin-bottom: 3em!important;width: 60%!important;">
                                            <a href="#">
                                                <div class="friend-img">
                                                    {% if friend.friend.username == user.username %}
                                                    <img src="{{ friend.user.customer.profile_pic.url }}" alt=""/>
                                                    {% else %}
                                                    <img src="{{ friend.friend.customer.profile_pic.url }}" alt=""/>
                                                    {% endif %}
                                                </div>
                                                <div class="friend-info">
                                                {% if friend.friend.username == user.username %}
                                                    <h4>{{ friend.user.username }}</h4>
                                                    <button class="btn btn-light btn-outline-dark btn-sm"
                                                            onclick=location.href="{% url 'messages' friend.user.id %}">message
                                                    </button>
                                                {% else %}
                                                    <h4>{{ friend.friend.username }}</h4>
                                                    <button class="btn btn-light btn-outline-dark btn-sm"
                                                            onclick=location.href="{% url 'messages' friend.friend.id%}">message
                                                    </button>
                                                {% endif %}

                                                    {% if friend.confirmed == 2 %}
                                                        <form action="{% url 'accept_request' friend.id %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" value="{{ friend.id }}">
                                                            <button type="submit">Accept</button>
                                                        </form>
                                                    {% endif %}
                                                </div>
                                                <div class="friends-profile" style="margin: -3.5rem 2em!important;
                                                display: flex!important;justify-content: space-between!important;">
                                                    {% if friend.friend.username == user.username %}
                                                        <a class="btn btn-outline-light friends_profile" style="background-color: coral"
                                                       href="{% url 'friends_profile' friend.user.id %}">View</a>
                                                    {% else %}
                                                        <a class="btn btn-outline-success friends_profile"
                                                       href="{% url 'friends_profile' friend.friend.id %}">View</a>
                                                    {% endif %}
                                                        </div>


                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}