{% extends 'home/home.html' %}
{% load static %}

{% block content %}
    <div class="px-3">
        <button type="button" class="btn btn-light bg-white text-black-50">
            <i class="fas fa-arrow-left text-black-50"></i>
            <a href="{% url 'home' %}" style="text-decoration: none;color: #8f9296">Go Back</a>
        </button>
    </div>
    <div class="wrapper" style="margin-bottom: 5em;">
        <div class="heading">
            <h1>Start exploring the <strong style="color: coral">GiftBox </strong></h1>
            <p>Start preparing a Gift for yourself or beloved ones!</p>
        </div>
        <div class="card" style="margin-bottom: 8em;">
            <div class="card-body">
                <div class="card-text">Select category for the gift</div>
                <form action="{% url 'givegift' %}" method="post">
                    {% csrf_token %}
                    <select name="category_options" class="custom-select custom-select-lg mb-3">
                        <option  disabled>Category</option>
                        {% for category in categories %}
                            <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
            </div>
        </div>

                    <div class="card" style="margin-bottom:  5em;">
                        <div class="card-body">
                            <div class="card-text">Select the person who you’re buying to</div>
                            <select class="custom-select custom-select-lg mb-3">
                                <option disabled>Person</option>
                                <option value="1">Partner</option>
                                <option value="2">Friend</option>
                                <option value="2">Family</option>
                                <option value="2">Yourself</option>
                            </select>
                        </div>
                    </div>
                 <div class="text-center">
                        <button type="submit" class="btn btn-success btn-lg active"
                                style="text-decoration: none;color: white;">NEXT
                        </button>
                 </div>

        </form>
    </div>





    </div>



{% endblock content %}