{% extends 'home/home.html' %}
{% load static %}
{% block content %}
    <div class="container pb-5 py-2">
        <h2 class="py-2">Order List</h2>
        <table class="table table-responsive-md">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Total</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <th>{{ request.user.username }}</th>
                    <th>{{ request.user.email }}</th>
                    <th>${{ order.total_price }}</th>
                    <th>{{ order.created_at|date }}</th>
                    <th>
                        <a href="{% url 'orders' order.id %}" class="btn btn-light btn-table mx-2 text-black-50"><i
                                class="fas fa-info px-2 text-black-50"></i></a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>




    </body>

    </html>

{% endblock content %}