
{% extends 'home/home.html' %}
{% load static %}
{% block content %}
	<div class="container pb-5 py-2">
		<h2 class="py-2">Order List</h2>
		<table class="table table-responsive-md">
			<thead>
				<tr>
					<th>Name</th>
					<th>Surname</th>
					<th>Email</th>
					<th>Total</th>
					<th>Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Mariah</th>
					<th>Michalina</th>
					<th>mariah@gmail.com</th>
					<th>$75.66</th>
					<th>20.12.2020</th>
					<th><button class="btn btn-light btn-table mx-2 text-black-50"><i class="fas fa-info px-2 text-black-50"></i>Details</button></th>
				</tr>
				<tr>
					<th>Marco</th>
					<th>Button</th>
					<th>marco@gmail.com</th>
					<th>$65.55</th>
					<th>10.04.2020</th>
					<th><button class="btn btn-light btn-table mx-2 text-black-50"><i class="fas fa-info px-2 text-black-50"></i>Details</button></th>
				</tr>
				<tr>
					<th>Marco</th>
					<th>Button</th>
					<th>marco@gmail.com</th>
					<th>$65.55</th>
					<th>10.04.2020</th>
					<th><button class="btn btn-light btn-table mx-2 text-black-50"><i class="fas fa-info px-2 text-black-50"></i>Details</button></th>
				</tr>
				<tr>
					<th>Marco</th>
					<th>Button</th>
					<th>marco@gmail.com</th>
					<th>$65.55</th>
					<th>10.04.2020</th>
					<th><button class="btn btn-light btn-table mx-2 text-black-50"><i class="fas fa-info px-2 text-black-50"></i>Details</button></th>
				</tr>
				<tr>
					<th>Marco</th>
					<th>Button</th>
					<th>marco@gmail.com</th>
					<th>$65.55</th>
					<th>10.04.2020</th>
					<th><button class="btn btn-light btn-table mx-2 text-black-50"><i class="fas fa-info px-2 text-black-50"></i>Details</button></th>
				</tr>
				<tr>
					<th>Marco</th>
					<th>Button</th>
					<th>marco@gmail.com</th>
					<th>$65.55</th>
					<th>10.04.2020</th>
					<th><button class="btn btn-light btn-table mx-2 text-black-50"><i class="fas fa-info px-2 text-black-50"></i>Details</button></th>
				</tr>
			</tbody>
		</table>
	</div>




</body>

</html>

{% endblock content %}