{% extends 'home/home.html' %}
{% load static %}
{% block content %}


    <div class="px-3">
        <button type="button" class="btn btn-light bg-white text-black-50">
            <i class="fas fa-arrow-left text-black-50"></i>
            <a href="{% url 'home' %}" style="text-decoration: none;color: #8f9296">Go Back</a>
        </button>
    </div>
    <div class="container pb-5 py-2">
        <div class="d-flex justify-content-center">
            <h4 class="gift-wrapper">Start Preparing a <span class="gift">Gift</span> For You and Your Loved Ones</h4>
        </div>

        <div class="d-flex justify-content-center my-4">

            <div class="col-12 d-flex flex-column">
                <div class="border rounded py-1 mx-2">
                    <h3 class="py-2 px-2">Gift Items Summary</h3>
                    <div class="container my-5">
                        <table class="table table-responsive-md payment">
                            <tbody>
                            {% for order_item in order_items %}
                                <tr class="py-5">
                                    <td>
                                        <input type="checkbox" checked disabled>
                                    </td>
                                    <td class="text-center"><img style="width: 80px;height: 60px;"
                                                                 src="{{ order_item.product_id.image.url }}"></td>
                                    <td>{{ order_item.product_id.name }}</td>
                                    <td>${{ order_item.product_id.price }}</td>
                                    <td>{{ order_item.quantity }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <label>Order Status:</label>
                        {% if order.completed %}
                            {{ order.completed }}
                        {% else %}
                            {{ order.completed }}
                            <a class="btn btn-success " href="{% url 'checkout' order.id%}">Go the checkout</a>

                        {% endif %}


                        <h3 class="py-3 text-black-50"> Total Price: ${{ order.total_price }}</h3>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock content %}