{% load static %}
<aside class="col-lg-4">
    {% if request.user.is_authenticated %}
        <a href="/blog/post/create">Create New</a>
    {% endif %}
    <!-- Widget [Search Bar Widget]-->
    <div class="widget search">
    <form action="{% url 'search' %}" class="search-form">
        <div class="form-group">
        <input type="text" name="q" placeholder="Search Posts">
        <button type="submit" class="submit"><i class="fas fa-search"></i></button>
        </div>
    </form>
    </div>
    <!-- Widget [Latest Posts Widget]        -->
    <div class="widget latest-posts">
    <header>
        <h3 class="h6">Latest Posts</h3>
    </header>
    <div class="blog-posts">

        {% for post in most_recent %}
            <a href="{{ post.get_absolute_url }}">
            <div class="item d-flex align-items-center">
            <div class="image"><img src="{{ post.postpic.url }}" alt="..." class="img-fluid"></div>
            <div class="title"><strong>{{ post.title }}</strong>
                <div class="d-flex align-items-center">
                <div class="views"><i class="icon-eye"></i> {{ post.view_count }}</div>
                <div class="comments"><i class="icon-comment"></i>{{ post.comments.count }}</div>
                </div>
            </div>
            </div>
        </a>
        {% endfor %}

    </div>
    <!-- Widget [Categories Widget]-->
    <div class="widget categories">
    <header>
        <h3 class="h6">Categories</h3>
    </header>
        {% for category in category_count %}
            <div class="item d-flex justify-content-between">
                <a href="#">{{ category.title}}</a><span>{{ category.post_set.count}}</span>
            </div>
        {% endfor %}




    </div>

</aside>